.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 85vh;
}

.not-found-img {
  width: 90%;
  max-width: 300px;
}

.not-found-h1 {
  font-size: x-large;
  font-weight: bold;
}

@media (min-width: 576px) {
  .not-found-h1 {
    font-size: xx-large;
  }
}

.not-found-p {
  color: #616e7c;
  font-size: medium;
  font-weight: bold;
}
